@charset "utf-8";

@font-face {
  font-family: 'MoveSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/2405-2@1.0/MoveSans-Medium.woff2') format('woff2');
  font-weight: 500;
  font-display: swap;
}

@font-face {
  font-family: 'GMarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansLight.woff') format('woff');
  font-weight: 300;
  font-display: swap;
}
@font-face {
  font-family: 'GMarketSans';
  src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff');
  font-weight: 500;
  font-display: swap;
}
/* 폰트 */

:root{
  --black-color:#222;
  --mainBg-color:#fff8f3;
  --mainBg2-color:#ffe9d9;
  --gray-color:#cccccc;
  --sub-color:#ffa977;
  --sub2-color:#884a27;
}
html{
  font-size: 62.5%;
}
body{
  font-size: 1.6rem;
  color: var(--black-color);
  font-family: 'GMarketSans';
}
.inner{
  width: 100%;
  margin: auto;
  padding: 0 120px;
}
section{
  background: var(--mainBg-color);
}
.section{
  padding: 60px 0;
}
.mainTitle{
  font-family: 'MoveSans';
  font-size: 6rem;
  padding: 3rem 0;
}
section p{
  font-weight: 300;
  line-height: 1.2;
}
/* 설정 END */


header{
  width: 100%;
  height: 70px;
  background: var(--mainBg-color);
  position: fixed;
  left: 0;
  top: 0;
  z-index: 10;
  transition: 0.5s ease-in;
}
header.on{
  transform: translateY(-100%);
}
header.shadow{
  background: rgba(247, 243, 240, 0.8);
  box-shadow: 0 2px 10px rgba(48, 35, 35, 0.2);
  backdrop-filter: blur(10px);
}

.header_wrap{
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.headerLogo{
  width: 50px;
  height: 50px;
}

.header-menu{
  display: flex;
  gap: 10px;
}
.header-menu li{
  padding: 5px;
}
.header-menu a{
  font-size: 1.8rem;
  position: relative;
  transition: 0.5s ease-in;
}

.header-menu a::after{
  position: absolute;
  content: "";
  width: 0%;
  height: 2px;
  background: var(--sub-color);
  left: 0;
  bottom: -2px;
  opacity: 0;
  transition: 0.5s ease-in;
}

.header-menu a:hover{
  color: var(--sub-color);
}

.header-menu a:hover::after{
  position: absolute;
  content: "";
  width: 100%;
  height: 2px;
  background: var(--sub-color);
  left: 0;
  bottom: -2px;
  opacity: 1;
}


.hamMenu{
  display: none;
}
/* header END */
@media (max-width:768px){
  header{
    height: 120px;
  }
  .header_wrap{
    flex-direction: column;
    justify-content: space-around ;
    align-items: center;
  }

  .header-menu{
    gap: 2px;
  }
  .header-menu a{
    font-size: 1.4rem;
    font-weight: 300;
  }
}

@media (max-width:501px){
  header{
    height: 70px;
  }
  .header_wrap{
    flex-direction: row;
    justify-content: space-between ;
    align-items: center;
  }
  .header-menu{
    display: block;
    position: fixed;
    background: var(--mainBg-color);
    top: 0;
    right: -100%;
    width: 80%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .header-menu.open{
    right: 0;
  }

  .header-menu a{
    font-size: 3rem;
    font-weight: 500;
  }

  .hamMenu{
    display: block;
    width: 40px;
    height: 40px;
    position: relative;
    cursor: pointer;
  }
  .hamMenu.colse{
    transform: translateX(-70vw);
  }
  .hamMenu::before,
  .hamMenu::after
  {
    position: absolute;
    content: "";
    width: 100%;
    height: 4px;
    background: var(--sub2-color);
    transition: 0.3s ease-in;
  }
  .hamMenu::before{
    top: 11px;
  }
  .hamMenu::after{
    bottom: 11px;
  }

  .hamMenu.colse::before{
    top: 50%;
    transform: translateY(-50%) rotate(-45deg);
  }
  .hamMenu.colse::after{
    top: 50%;
    transform: translateY(-50%) rotate(45deg);
  }
}
/* header 반응형 END */

#home{
  width: 100%;
  height: 100vh;
  position: relative;
}

#home .text_box{
  position: absolute;
  left: 10%;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 2;
}
#home .text_box h2{
  color: var(--sub-color);
  font-size: 8rem;
  line-height: 1.2;
  font-family: 'MoveSans';
  margin-bottom: 20px;
}
#home .text_box p{
  font-size: 2.4rem;
  font-weight: 500;
}

.home_bg figure{
  width: 350px;
  height: 350px;
  position: absolute;
  bottom: 20%;
  right: 10%;
  z-index: 1;
}
/* home END */

@media (max-width:1201px){
  #home .text_box h2{
    font-size: 7rem;
  }
  #home .text_box p{
    font-size: 2.2rem;
  }

  .home_bg figure{
    width: 300px;
    height: 300px;
    top: 40%;
    right: 8%;
  }
}

@media (max-width:768px){
  #home .text_box{
    left: 8%;
  }
  #home .text_box h2{
    font-size: 5rem;
  }
  #home .text_box p{
    font-size: 1.8rem;
  }

  .home_bg figure{
    width: 200px;
    height: 200px;
    top: 30%;
  }
}

@media (max-width:500px){
  #home .text_box h2{
    font-size: 2.8rem;
    margin-bottom: 1.6rem;
  }
  #home .text_box p{
    font-size: 1.4rem;
  }

  .home_bg figure{
    width: 150px;
    height: 150px;
  }
}
/* home 반응형 END */

#aboutMe{
  background: var(--mainBg2-color);
}
.aboutMe_wrap{
  display: flex;
  gap: 50px;
}
.aboutMe-img{
  flex: 1.5;
  max-width: 400px;
}
.aboutMe-img figure{
  position: relative;
  width: 100%;
  z-index: 1;
}
.aboutMe-img figure::after{
  border: 2px solid var(--sub2-color);
  position: absolute;
  right: -15px;
  bottom: -10px;
  width: 100%;
  height: 100%;
  z-index: -1;
  content: "";
}

.aboutMe-desc{
  max-width: 940px;
  flex: 3;
}

.aboutMe-desc .text_box{
  display: flex;
  flex-direction: column;
  gap: 20px;
}
.aboutMe-desc .text_box h4{
  font-size: 1.8rem;
}

/* skill */
.skill h4{
  margin: 1.8rem 0;
  font-size: 2.4rem;
}
.skill_box{
  display: flex;
  flex-wrap: wrap; /*줄바꿈이 된다.*/
  gap: 15px;
  justify-content: center;
}
.skill_box li{
  padding: 7px 15px 4px;
  border: 2px dashed var(--sub-color);
  border-radius: 50px;
  background: #fff;
  font-size: 1.8rem;
}
/* aboutMe END */

@media (max-width:1201px){
  .aboutMe_wrap{
    flex-direction: column;
    align-items: center;
  }

  .aboutMe-img{
    display: flex;
    justify-content: center;
  }

  .aboutMe-desc{
    flex: 1;
  }
  .aboutMe-desc .text_box h4{
    font-size: 1.6rem;
  }
  .aboutMe-desc .text_box p{
    font-size: 1.5rem;
  }

  .aboutMe-img figure figcaption p{
    font-size: 1.5rem;
  }
}

@media (max-width:768px){
  .aboutMe-desc .text_box{
    gap: 20px;
  }
}

@media (max-width:500px){
  .aboutMe-img figure{
    position: relative;
    width: 85%;
    z-index: 1;
  }
  .aboutMe-img figure::after{
    width: 85%;
  }
  .skill_box li{
    font-size: 1.6rem;
  }
}
/* aboutMe 반응형 END */

#portfolio .tabMenu{
  display: flex;
  justify-content: center;
  padding: 15px 0;
  line-height: 2;
}
#portfolio .tabMenu li+li::before{
  display: inline-block;
  content: "";
  width: 1px;
  height: 10px;
  background:var(--black-color);
  margin:0 15px;
}
#portfolio .tabMenu li{
  cursor: pointer;
}
/* tanMenu END */

.portfolio_wrap{
  border: 1px solid #fc9919;
  padding: 10px;
  border-radius: 20px;
  display: none;
}
.portfolio_wrap.active{
  display: block;
}
.portfolio_item{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 80px;
  padding: 20px;
}

.portfolio-desc{
  width: 50%;
}
.portfolio-desc h1{
  font-size: 3rem;
  margin: 20px 0;
}
.portfolio-desc p{
  font-size: 1.8rem;
  margin-bottom: 20px;
}
.portfolio-desc li{
  font-size: 1.5rem;
  margin-bottom: 15px;
}
.portfolio-desc ul li span{
  margin-right: 50px;
  font-size: 1.7rem;
}
.btn{
  width: 150px;
  display: block;
  background: var(--sub2-color);
  padding: 10px 10px 6px;
  color: #fff;
  text-align: center;
  border-radius: 10px;
  margin: 20px auto;
  font-weight: 300;
}

.portfolio-img{
  border: 1px solid var(--sub2-color);
  border-radius: 20px;
  width: 50%;
  background-image: url('../img/port1.png');
  background-size:cover;
  background-repeat: no-repeat;
  aspect-ratio: 3 / 4;/*이미지 비율*/
  max-height: 480px;
}
.todayHouse{
  background-image: url('../img/port2todayHouse.png');
}
.subway{
  background-image: url('../img/port3subway.png');
}
.HotelLago{
  background-image: url('../img/port4HotelLago.png');
}
.filtering{
  background-image: url('../img/port5filtering.png');
  background-position: center;
}
/* portfolio END */
@media (max-width:1201px){

}

@media (max-width:768px){
  #portfolio .tabMenu{
    flex-wrap: wrap;
  }
  #portfolio .tabMenu li{
    font-size: 1.4rem;
  }
  .portfolio_item{
    flex-direction: column;
    gap: 20px;
  }

  .portfolio-desc{
    width: 100%;
    order: 1;
  }
  .portfolio-desc h1{
    font-size: 2.4rem;
  }
  .portfolio-desc p{
    font-size: 1.6rem;
  }
  .portfolio-img{
    width: 100%;
  }
}

@media (max-width:500px){
  .portfolio-desc h1{
    font-size: 1.8rem;
  }
  .portfolio-desc p{
    font-size: 1.4rem;
  }
  
}

#contatct{
  background: var(--mainBg2-color);
}
.contatct_wrap{
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-family: 'MoveSans';
}
.contatct_wrap h3{
  font-size: 3rem;
  text-align: center;
  line-height: 1.4;
}

.contact-info{
  display: flex;
  align-items: center;
  gap: 10px;
}
.contact-info figure{
  width: 50px;
  height: 50px;
}

@media (max-width:1201px){
  .contatct_wrap h3{
    font-size: 2.4rem;
  }

}

@media (max-width:768px){
  .contatct_wrap h3{
    font-size: 2rem;
  }

  .contact-info figure{
    width: 35px;
    height: 35px;
  }

}

@media (max-width:500px){
  .contatct_wrap h3{
    font-size: 1.6rem;
  }

  .contact-info figure{
    width: 25px;
    height: 25px;
  }
}

/* 공동 반은형 */
@media (max-width:1201px){
  .inner{
    padding: 0 50px;
  }
  .mainTitle{
    font-size: 4.5rem;
    padding: 2.5rem 0;
  }
  .section{
    padding: 50px 0;
  }
}

@media (max-width:768px){
  .inner{
    padding: 0 16px;
  }

  .mainTitle{
    font-size: 3rem;
    padding: 2rem 0;
  }
  .section{
    padding: 35px 0;
  }
}

@media (max-width:500px){
  .mainTitle{
    font-size: 2.8rem;
    padding: 1rem 0;
  }
  .section{
    padding: 25px 0;
  }
}